.movie-player {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
video {
    display: block;
    width: 100%;
    background-color: #000;
    border: 2px solid #E50914; /* Netflix Red */
}

// video::-webkit-media-controls {
//     display: none !important;  /* Hides built-in controls */
//   }
  
//   .custom-controls {
//     display: flex;
//     justify-content: center;
//     gap: 15px;
//   }
  
// .custom-btn {
//     background-color: #E50914;
//     color: white;
//     padding: 10px;
//     border: none;
//     cursor: pointer;
// }

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.background-overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 90%);
  pointer-events: none;
}

.movie-info {
  position: absolute;
  bottom: 15%;
  left: 5%;
  color: white;
  width: 50%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); 
}

.movie-info h1 {
  font-size: 48px; 
}

.movie-info .genre {
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
}

.movie-info .description {
  font-size: 16px;
  line-height: 1.5;
  color: #ddd;
}

.play-button {
  background: rgba(255, 0, 0, 0.9);
  color: white;
  font-size: 22px;
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.play-button:hover {
  background: rgba(255, 0, 0, 1);
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.6);
}

.movie-player-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%) scale(1);
  width: 100%;
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.movie-player-container.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -10%) scale(0.75);
}

.close-video-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 20px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0; 
}

.movie-player-container:hover .close-video-btn {
  opacity: 1; 
}
