<footer>
  <h2>Questions? <a href="#">Contact us.</a></h2>

  <div class="footer-grid">
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Media Center</a></li>
      <li><a href="#">Only on Notflix</a></li>
    </ul>
    
    <ul>
      <li><a href="#">Investor Relations</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Redeem Gift Cards</a></li>
      <li><a href="#">Buy Gift Cards</a></li>
    </ul>

    <ul>
      <li><a href="#">Ways to Watch</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookie Preferences</a></li>
    </ul>

    <ul>
      <li><a href="#">Corporate Information</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Speed Test</a></li>
      <li><a href="#">Legal Notices</a></li>
    </ul>
  </div>

  <p>© 2025 Notflix. Your personal movie streaming experience.</p>
</footer>